<div id="<%= dom_id gift %>">

  <h1 class="dark"><%= gift.name %></h1>
  <p class="description"><%= gift.description %></p>

  <% if gift.image_url.present? %>
    <div class="image">
      <%= image_tag gift.image_url %>
    </div>
  <% end %>

  <p>
    <strong>Cost:</strong>
    <%= number_to_currency(gift.cost, unit: "£") %>
  </p>

  <% if gift.splittable %>
    <% gift_progress = gift.progress_percentage %>
    <div class="progress-bar">
        <span class="progress-bar-fill" style="width: <%= gift_progress %>%;">
          <span><%= gift_progress %>% contributed</span>
        </span>
    </div>
    <p>
      <strong>Remaining:</strong>
      <%= number_to_currency(gift.remaining_cost, unit: "£") %>
    </p>
  <% end %>

</div>
