<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= item.link %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= item.value %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= item.ref %>
  </p>

  <p>
    <strong>Bought:</strong>
    <%= item.bought %>
  </p>

  <p>
    <strong>Bought by:</strong>
    <%= item.bought_by %>
  </p>

  <p>
    <strong>Bought message:</strong>
    <%= item.bought_message %>
  </p>

</div>
