<div id="<%= dom_id item %>">

  <h2 class="dark"><%= item.name %></h2>
  <p class="description"><%= item.description %></p>

  <% if item.image_url.present? %>
    <div class="image">
      <%= image_tag item.image_url %>
    </div>
  <% end %>

  <p>
    <strong>Cost:</strong>
    <%= number_to_currency(item.value, unit: "£") %>
  </p>

  <% if item.bought? %>
    <p>
      <strong>Bought by:</strong>
      <%= item.bought_by %>
    </p>

    <p>
      <strong>Bought message:</strong>
      <%= item.bought_message %>
    </p>
  <% end %>

</div>
