<%= form_with(model: @item, url: buy_item_path(@item)) do |form| %>
  <% if @item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="dark">Buy <%= @item.name.titleize %></h1>

  <div class="intro">
    <p>Thank you so much for showing interest in getting this item for us!</p>
    <p>You can get this from <%= link_to URI::parse(@item.link).host, @item.link, class: "product-link", target: "_blank" %></p>
    <p>
      When you've ordered the item, please can you add your name and a message for us below. This will remove the item
      from the list so no-one else buys it too.
    </p>
    <p>We really appreciate everything and are looking forward to seeing you soon!</p>
  </div>

  <div class="form-fields">
    <div>
      <%= form.label :bought_by, "Your Name(s)" %>
      <%= form.text_field :bought_by, required: true %>
    </div>

    <div>
      <%= form.label :bought_message, "Message for Shona and Phil" %>
      <%= form.text_area :bought_message, required: true %>
    </div>

    <div class="button-container">
      <%= form.submit "I Bought This!" %>
    </div>
  </div>
<% end %>
